/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: 34 20 43 276 36% 12%;
}
::-webkit-scrollbar-thumb {
  background: #22142b;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills,
.teams,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #009788;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #009788;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #009788;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: #04061f;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #009788;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #009788;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background: url("./assets/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #060315;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: #051f1c;
  color: #efeaea;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #06100f;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: #06100f;
  background: none;
}

/* about section styling */
.about .title::after {
  content: "who i am";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: #011614;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: #009788;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #009788;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #009788;
  background: none;
}

/* skills section styling */
.skills .title::after {
  content: "what i know";
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.project-desc {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: #009788;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #009788;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: #009788;
  background: none;
}
.skills .skills-content .right {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row: auto;
}
.skills .skills-content .right .image {
  width: 80%;
  height: 80%;
  transition: transform 0.3s ease;
}
.skills .skills-content .right .image:hover {
  transform: scale(1.1);
}
.project-content {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-item {
  flex-basis: 48%;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0;
  margin-top: 2rem;
  gap: 0.5rem;
  box-shadow: 0px 5px 15px 0 #0000002c;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.project-item:hover {
  transform: scale(1.05);
}
.project-item ul {
  padding: 0 1.5rem;
}
.project-item li {
  list-style-type: square;
}
.project-item li::marker {
  color: #009788;
}
.project-item .project-title {
  align-self: center;
  font-size: 1.2rem;
  padding: 0 1rem;
  text-align: center;
}
.project-item .project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-item .button-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-content a {
  display: inline-block;
  background: #009788;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 8px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #009788;
  transition: all 0.3s ease;
}
.project-content a:hover {
  color: #009788;
  background: none;
}

/* services section styling */
.services,
.teams {
  color: #fff;
  background: #010509;
}
.services .title::before,
.teams .title::before {
  background: #fff;
}

.teams .title::after {
  background: #009788;
  content: "what i provide";
}
.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: #009788;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  font-size: 50px;
  color: #009788;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* contact section styling */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .contact-content .contact-left,
.contact .contact-content .contact-right {
  flex-basis: 40%;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content p {
  text-align: justify;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 20px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #041110;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #040613;
}

.contact .contact-content .info .sub-title a:hover {
  text-decoration: underline;
}
.thankyou {
  font-size: 20px;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: -2rem;
}

/* footer section styling */
footer {
  background: #009788;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #ebf4f3;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .project-item {
    flex-basis: 100%;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #02312c;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .project-content {
    margin-top: 10px;
  }
}
